<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975630461111-e9ehgtd2rdg2qnicsuusfkh9mfrhdqu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975630461111-e9ehgtd2rdg2qnicsuusfkh9mfrhdqu4</string>
	<key>API_KEY</key>
	<string>AIzaSyDE2m_Aa1AZ4ebAJqw8OWndQSEkH3bkYz0</string>
	<key>GCM_SENDER_ID</key>
	<string>975630461111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceAdminPanel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-32c22</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-32c22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975630461111:ios:8bf5fce746b2ed2d9ac532</string>
</dict>
</plist>